<nav class="navbar fixed-top navbar-expand-lg bg-noscroll">
  <div class="container-fluid">
    <a class="navbar-brand ps-3" href="#"><h3>Javier Comesaña</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarNav"
    >
      <ul class="navbar-nav p-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Videobook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">CV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="content">
  <div class="container-fluid">
    <div class="row">
      <div class="cover col-12 bg-cover">
        <div
          class="col-4 h-100 d-flex align-items-center justify-content-center"
        >
          <div class="cover-text" data-aos="fade-right">
            <h1 class="border border-warning rounded text-center p-3">
              Javier Comesaña
            </h1>
            <p>
              Contacto
              <i class="fas fa-arrow-circle-right"></i> javijavi@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
